.Posts {
    text-align: center;
}

.Post {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    border-radius: 5px;
    border: 10px solid #c71585;
}

.Post text {
    padding: 2%;
}